{% extends "base.html" %}

{% block title %}Run Creation Successful{% endblock %}

{% block content %}
    <h1>Run Created</h1>
    <h3>Run: {{ run_name }} created successfully</h3>

    <br>
    <b>Message: </b>{{ message }}
    <br>

    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">
            <a href="{% url "controller:process" %}?category=run&action=index&pid={{ project_id }}&wid={{ workflow_id }}">
                Go back to run listing
            </a>
        </li>
    </ul>
{% endblock %}