{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class = "jumbotron bg-transparent">
        <div class="container w-50 border bg-transparent p-5">
            <h3>Forgotten Your Password?</h3>
            <p class="py-2">
                Enter your email address to obtain a new password
                <table class="table table-borderless ">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_table }}
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Send Email" class="btn btn-primary"></td>
                        </tr>
                    </form>
                </table>
            </p>
        </div>
    </div>
{% endblock %}