{% extends "base.html" %}

{% block title %}Pipelined Simulated Runs Management Page{% endblock %}

{% block content %}
    <h1>Manage workflow's pipelined simulated runs</h1>
    <h3>Workflow: {{ obj_workflow.name }}</h3>

    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">
            <a href="{% url "controller:process" %}?category=pipelined_simulated_run&action=create&pid={{ obj_workflow.project_id }}&wid={{ obj_workflow.id }}">
                Create a pipelined simulated run
            </a>
        </li>
    </ul>

    <br>

    <h3>Existing pipelined simulated runs</h3>
    {% for r in list_pipelined_simulated_runs %}
          <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item">
                  {{ r.name }} | {{ r.type }}
              </li>
              <li class="list-group-item">
                  <a href="#">
                      Abort
                  </a>
              </li>
              <li class="list-group-item">
                  <a href="{% url "controller:process" %}?category=pipelined_simulated_run&action=view&pid={{ r.project_id }}&wid={{ r.workflow_id }}&rid={{ r.id }}">
                      View
                  </a>
              </li>
              <li class="list-group-item">
                  <a href="{% url "controller:process" %}?category=pipelined_simulated_run&action=view_statistics&pid={{ r.project_id }}&wid={{ r.workflow_id }}&rid={{ r.id }}">
                      View Statistics
                  </a>
              </li>
              <li class="list-group-item">
                  <a href="#">
                      Delete
                  </a>
              </li>
          </ul>
    {% endfor %}

    <br>

    <a href="{% url "controller:process" %}?category=workflow&action=index&pid={{ obj_workflow.project_id }}">
        Go back to workflow listing
    </a>
{% endblock %}
