{% extends "base.html" %}

{% block title %}Workflow Creation Page{% endblock %}

{% block content %}
    <h1>Create Workflow</h1>
    <form action="{% url "controller:process" %}?category=workflow&action=create&pid={{ project_id }}" method="post">
    {% csrf_token %}
        <label for="wname">Name: </label><br>
        <input type="text" id="wname" name="wname" placeholder="Enter workflow name here">
        <br>
        <label for="wdesc">Description: </label><br>
        <textarea id="wdesc" name="wdesc" rows="4" cols="50" placeholder="Enter description here" style="resize: both; min-width: 200px; min-height: 80px;"></textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}