{% extends "base.html" %}

{% block title %}Workflow Edit Successful{% endblock %}

{% block content %}
    <h1>Workflow Edited</h1>
    <h3>Workflow {{ workflow_name }}: File uploaded successfully</h3>

    <br>
    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">
            <a href="{% url "controller:process" %}?category=workflow&action=edit_workflow_upload_files&pid={{ project_id }}&wid={{ workflow_id }}">
                Go back to adding more files
            </a>
        </li>
        <li class="list-group-item">
            <a href="{% url "controller:process" %}?category=workflow&action=edit&pid={{ project_id }}&wid={{ workflow_id }}">
                Go back to edit workflow
            </a>
        </li>
        <li class="list-group-item">
            <a href="{% url "controller:process" %}?category=workflow&action=index&pid={{ project_id }}">
                Go back to workflow listing
            </a>
        </li>
    </ul>
{% endblock %}