{% extends "base.html" %}

{% block title %}Workflow Creation Successful{% endblock %}

{% block content %}
    <h1>Workflow Created</h1>
    <h3>Workflow: {{ workflow_name }} created successfully</h3>
    <br>

    <h3> Add workflow files </h3>
    <a href="{% url "controller:process" %}?category=workflow&action=edit_workflow_upload_files&pid={{ project_id }}&wid={{ workflow_id }}">
        Add files
    </a>

    <br>
    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">
            <a href="{% url "controller:process" %}?category=workflow&action=index&pid={{ project_id }}">Go back to workflow listing</a>
        </li>
    </ul>
{% endblock %}