{% extends "base.html" %}

{% block title %}Edit Project Page{% endblock %}

{% block content %}
    <h1>Edit Project</h1>
    <form action="{% url "controller:process" %}?category=project&action=edit&pid={{ obj_project.id }}" method="post">
    {% csrf_token %}
        <label for="pname">Name: </label><br>
        <input type="text" id="pname" name="pname" value="{{ obj_project.name }}">
        <br>
        <label for="pdesc">Description: </label><br>
        <textarea id="pdesc" name="pdesc" rows="4" cols="50" placeholder="Enter description here" style="resize: both; min-width: 200px; min-height: 80px;">{{ obj_project.description }}</textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}